
@font-face {
    font-family: 'horizon';
    src: url('horizon.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
  /* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Cabeçalho */
.topo {
    background-color: #a31b2d;
    border-radius: 50px;
    margin: 20px 40px;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

/* Menu */
.menu {
    display: flex;
    list-style: none;
    gap: 40px;
}

.menu li {
    border-right: 2px solid white;
    padding-right: 40px;
}

.menu li:last-child {
    border-right: none;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    font-size: 13px;
    font-family: 'horizon';
}

.menu a:hover,
.menu a.ativo {
    text-decoration: none;

}

/* Contato */
.contato {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
}

.contato a {
    text-decoration: none;
    color: white;
}

/* Conteúdo principal */
.principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 80px;
    gap: 60px;
}

/* Texto principal */
.texto {
    max-width: 700px;
    text-align: left;
}

.texto h1 {
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 25px;
    line-height: 1.3;
    text-align: left;
    font-family: 'horizon';
    letter-spacing: 2px;
    word-spacing: 5px;
}

.texto p {
    font-size: 1.3em;
    color: #333;
    margin-bottom: 15px;
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Botões */
.botoes {
    display: flex;
    gap: 30px;
    margin-top: 25px;
}

.btn1, .btn2 {
    text-decoration: none;
    background-color: #a31b2d;
    color: white;
    font-weight: bold;
    padding: 15px 35px;
    border-radius: 40px;
    transition: 0.3s;
    border: 2px solid #a31b2d;
}

.btn2 {
    background-color: white;
    color: #a31b2d;
}

.btn1:hover, .btn2:hover {
    transform: scale(1.05);
}

/* Imagem */
.imagem img {
    width: 450px;
    border-radius: 5px;
}

/* Responsividade */
@media (max-width: 1000px) {
    .principal {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .imagem img {
        width: 90%;
        margin-top: 30px;
    }

    .menu {
        gap: 20px;
        text-decoration: none;
        
        
    }

    .menu li {
        border-right: none;
        padding-right: 0;
        text-decoration: none;
    }

    .topo {
        margin: 10px;
        border-radius: 30px;
    }
}

.logo img {
    height: 50px;       /* altura da logo */
    border-radius: 10px; /* opcional, deixa levemente arredondada */
}

.icone-contato {
    width: 22px;   /* tamanho do ícone */
    height: 22px;
}

.home:hover {
    background: #d17b0f;
    box-shadow: 0 0 0 5px #d17b0f;
    border-radius: 2px;
    font-size: 16px;
}

.ativo:hover{
 background: #d17b0f;
    box-shadow: 0 0 0 5px #d17b0f;
    border-radius: 2px;
    font-size: 16px;
}
.disciplinas:hover{
  background: #d17b0f;
    box-shadow: 0 0 0 5px #d17b0f;
    border-radius: 2px;
    font-size: 16px;
}
.conteudos:hover{
  background: #d17b0f;
    box-shadow: 0 0 0 5px #d17b0f;
    border-radius: 2px;
    font-size: 16px;
}
.alunos:hover{
  background: #d17b0f;
    box-shadow: 0 0 0 5px #d17b0f;
    border-radius: 2px;
    font-size: 16px;
}
.ranking:hover{
  background: #d17b0f;
    box-shadow: 0 0 0 5px #d17b0f;
    border-radius: 2px;
    font-size: 16px
}
.sobre:hover{
  background: #d17b0f;
    box-shadow: 0 0 0 5px #d17b0f;
    border-radius: 2px;
    font-size: 16px
}
.telefone:hover{
  background: #d17b0f;
    box-shadow: 0 0 0 5px #d17b0f;
    border-radius: 2px;
    font-size: 16px;
}